html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #b0bec5;
    display: table;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
  }

  .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    text-align: center;
    display: inline-block;
  }

  .title {
    font-size: 72px;
    margin-bottom: 40px;
  }